In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data\index.csv')

In [4]:
df

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
891,2024-06-29,2024-06-29 21:27:22.449,card,ANON-0000-0000-0009,37.72,Latte
892,2024-06-30,2024-06-30 10:28:09.842,card,ANON-0000-0000-0336,37.72,Latte
893,2024-06-30,2024-06-30 13:05:50.620,card,ANON-0000-0000-0337,23.02,Espresso
894,2024-06-30,2024-06-30 16:54:41.679,card,ANON-0000-0000-0009,37.72,Hot Chocolate
895,2024-06-30,2024-06-30 21:04:09.746,card,ANON-0000-0000-0097,32.82,Americano with Milk

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         896 non-null    object
 1   datetime     896 non-null    object
 2   cash_type    896 non-null    object
 3   card         807 non-null    object
 4   money        896 non-null    float64
 5   coffee_name  896 non-null    object
dtypes: float64(1), object(5)
memory usage: 42.1+ KB

In [6]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [7]:
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S.%f')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         896 non-null    datetime64[ns]
 1   datetime     896 non-null    datetime64[ns]
 2   cash_type    896 non-null    object
 3   card         807 non-null    object
 4   money        896 non-null    float64
 5   coffee_name  896 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 42.1+ KB

In [10]:
df['cash_type'].unique()

array(['card', 'cash'], dtype=object)

In [15]:
df.to_csv('coffee_data.csv')